.tt-background-outer {
    width: 100vw;
    height: 100vh;
}

.tt-background-inner {
    height: 100%;
    background: url("./Screen Shot 2020-06-22 at 3.56.58 PM.png") repeat;
    background-size: 100vw 100vh;
}

.quiz-container {
    top: 30vh;
    display: inline-block;
    position: absolute;
    left: 5.5vw;
    min-width: 35.5vw;
    min-height: 40.5vh;
    background-color: white;
    border-radius: 5%;
    font-size: 20px;
    text-align: center;
}